body {
    font-family: 'Lato', sans-serif;
}
h1{
    margin-bottom: 40px;
}
label {
    color: #000; text-transform:uppercase;
    font-weight: bold;
       font-family: Quicksand;
}
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

